@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;1,700&family=Climate+Crisis&display=swap");

@import "tailwindcss";

@theme {
  --color-th-db: oklch(19.28% 0.045 243.97);
  --color-th-rd: oklch(62.11% 0.243 23.72);
  --color-th-wh: oklch(99.77% 0.004 134.85);
  --color-th-yw: oklch(78.28% 0.168 66.2);
  --color-th-lb: oklch(61.67% 0.147 242.18);

  --drop-shadow-menu: -20px -16px 0 rgb(247, 23, 53);
  --drop-shadow-title: -10px -6px 0 rgb(247, 23, 53);
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-bold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.climate-crisis {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YEAR" 1979;
}
